.About{
    background-image: url('ss.png');
    background-size: cover;
    height: 100vh; 
}
div
{
    text-align: left;

}
h1{
    text-align: center;
    color: rgb(46, 50, 117);
    font-size:xx-large;
}
p{
    font-size: medium;
    font-style: italic;
    color: rgb(8, 31, 52);
}
