<div class="About">
    <div>
      <br>
      
        <h1>About-Us</h1>
        <br>
        
      <h2>Who We Are?</h2>
      <p>Our Courier Service is a leading provider of reliable and efficient courier services.</p>
       <p>  We are dedicated to delivering your packages on time and within budget, no matter the size or destination.</p>
      <p> We have been in the business  for many years and have built a reputation for excellence.</p>
       <p> Our team of experienced and dedicated professionals is committed to providing you with the highest level of customer service.</p>
    </div>
    <div>
      <h2>Mission:</h2>
      <p>To provide our customers with the most efficient, reliable, and cost-effective courier services possible.</p>
    </div>
    <div>
      <h2>Vision:</h2>
      <p>To be the premier choice for courier services in the region, renowned for our commitment to quality, innovation, and customer satisfaction.</p>
    </div>
    </div>
